# Produced files

/build
/build/*
/src/iotjs_js.h
/src/native_js.h
/test/tmp/*

# IDE related files
nbproject
**.sublime-project
**.sublime-workspace
.idea

# Random Trash
*.swp
*.swo
*~
core
vgcore.*
**.orig
**.directory
**.patch
.tags*
cscope.*
*.pyc

# ctags and ID database
tags
ID
TAGS

# config files
*.config
