{
  "build_option" : {
    "buildtype": "debug",
    "buildlib": false,
    "builddir": "",
    "clean": false,
    "config": "",
    "target-arch": "",
    "target-os": "",
    "target-board":"",
    "cmake-param": [],
    "compile-flag": [],
    "link-flag": [],
    "external-include-dir": [],
    "external-static-lib": [],
    "external-shared-lib": [],
    "jerry-cmake-param": [],
    "jerry-compile-flag": [],
    "jerry-link-flag": [],
    "jerry-lto": false,
    "jerry-heaplimit": 256,
    "jerry-memstat": false,
    "no-init-submodule": false,
    "no-check-tidy": false,
    "no-check-test": false,
    "no-parallel-build": false,
    "sysroot": "",
    "no-snapshot": false,
    "iotjs-minimal-profile": false,
    "iotjs-include-module": [],
    "iotjs-exclude-module": []
  }
}
