{
  "builddir": "",
  "buildlib": false,
  "buildtype": "debug",
  "clean": false,
  "config": "",
  "cmake-param": [],
  "compile-flag": [],
  "external-include-dir": [],
  "external-lib": [],
  "jerry-cmake-param": [],
  "jerry-compile-flag": [],
  "jerry-heaplimit": 256,
  "jerry-link-flag": [],
  "jerry-lto": false,
  "jerry-memstat": false,
  "link-flag": [],
  "no-check-tidy": false,
  "no-init-submodule": false,
  "no-parallel-build": false,
  "no-snapshot": false,
  "run-test": false,
  "sysroot": "",
  "target-arch": "",
  "target-os": "",
  "target-board": ""
}
