{
  "build_option" : {
    "buildtype": "debug",
    "buildlib": false,
    "builddir": "",
    "clean": false,
    "target-arch": "",
    "target-os": "",
    "target-board":"",
    "cmake-param": [],
    "compile-flag": [],
    "link-flag": [],
    "external-include-dir": [],
    "external-static-lib": [],
    "external-shared-lib": [],
    "jerry-cmake-param": [],
    "jerry-compile-flag": [],
    "jerry-link-flag": [],
    "jerry-lto": false,
    "jerry-heaplimit": 256,
    "jerry-memstat": false,
    "no-init-submodule": false,
    "no-check-tidy": false,
    "no-check-test": false,
    "no-parallel-build": false,
    "nuttx-home": "",
    "no-snapshot": false
  },
  "compile_flags": {
    "os": {
      "linux": ["-D__LINUX__",
                "-fno-builtin"],
      "darwin": ["-D__DARWIN__",
                 "-fno-builtin"],
      "nuttx": ["-D__NUTTX__",
                "-Os",
                "-fno-strict-aliasing",
                "-fno-strength-reduce",
                "-fomit-frame-pointer"]
    },
    "arch": {
      "i686": ["-D__i686__",
               "-D__x86__",
               "-D__I686__",
               "-D__X86__",
               "-march=i686",
               "-m32"],
      "x86_64": ["-D__x86_64__",
                 "-D__X86_64__"],
      "arm": ["-D__ARM__",
              "-D__arm__",
              "-mthumb",
              "-fno-short-enums",
              "-mlittle-endian"]
    },
    "board": {
      "stm32f4dis": ["-mcpu=cortex-m4",
                     "-march=armv7e-m",
                     "-mfpu=fpv4-sp-d16",
                     "-mfloat-abi=hard",
                     "-DTARGET_BOARD=STM32F4DIS"],
      "rpi2": ["-mcpu=cortex-a7",
               "-mfpu=neon-vfpv4",
               "-DTARGET_BOARD=RP2"]
    },
    "buildtype": {
      "release": ["-O2"],
      "debug": ["-DDEBUG",
                "-DENABLE_DEBUG_LOG"]
    }
  },
  "link_flags": {
    "os": {
      "linux": ["-pthread"],
      "darwin": [],
      "nuttx": []
    }
  },
  "shared_libs": {
    "os": {
      "linux": ["m", "rt"],
      "darwin": [],
      "nuttx": []
    }
  },
  "module": {
    "always": ["buffer", "console", "events", "fs", "module", "timers"],
    "optional" : ["assert", "blecentral", "dgram", "dns", "gpio", "http", "i2c",
                  "net", "pin", "pwm", "stream", "testdriver"],
    "exclude": []
  }
}
