#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SYSTEM_IOTJS
  bool "IoT.js"
  default y
  ---help---
    Enable IoT.js platform

if SYSTEM_IOTJS

config IOTJS_PRIORITY
  int "IoT.js task priority"
  default 100

config IOTJS_STACKSIZE
  int "IoT.js stack size"
  default 32768

endif

config USER_ENTRYPOINT
        string
        default "iotjs_main" if ENTRY_IOTJS

